body {
	background-color: #ffe3f6;
	margin: 1em auto;
	font-size: 10px;
	padding: 1em;
	text-align: center;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

h1 {
	color: #73003f;
	font-size: 3em;
}

p, ul {
	font-family: "Proxima Nova", serif;
	color: #73003f;
	max-width: 30em;
	width: 100%;
	text-align: left;
	margin: 1em auto 1em auto;
	font-size: 3em;
	line-height: 1.3;
}

img.logo {
	width: 200%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
	margin: 2em auto;
}

img {
  max-width: 100%;
  height: auto;
}
